footer {
    background-color: lighten($baseColorBlack, 25%);
    .copy {
        margin-bottom: 0;
        padding: 1.2em 0;
        text-align: center;
        color: #fff;
        font-size: floor($baseFontSize * 0.70);
    }
}

#toPageTop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 9999;
    text-indent: -9999em;
    a {
        display: block;
        width: 50px;
        height: 50px;
        background: url(../img/totop.png) 0 0 no-repeat;
        &:hover {
            background: url(../img/totop.png) 0 -50px no-repeat;
        }
    }
}