html {
    word-wrap: break-word;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
	font-family: $baseFamily;
	font-size: $baseFontSize;
    background-color: $baseBgColor;
	color: $baseFontColor;
	line-height: $baseLineHeight;
    letter-spacing: 1px;
}

p {
    text-align: justify;
}

a {
	text-decoration: none;
	outline: none;
	transition: .3s;
	&:hover,
	&:active,
	&:focus {
		border: none;
	}
	img {
		outline: none;
		border: none;
		-webkit-transition: opacity .3s, -webkit-transform .3s;
    	transition: opacity .3s, transform .3s;
	}
}


address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
}

caption,
th {
    text-align: left;
}

object,
embed {
    vertical-align: top;
}

legend {
    display: none;
}

img,
abbr,
acronym,
fieldset {
    border: 0;
    vertical-align: bottom;
}

ul,
ol {
    padding-left: 2rem;
}

img {
    max-width: 100%;
    height: auto;
    width/***/: auto;
    vertical-align: middle;
}

img {
    box-shadow: #000 0 0 0;
}

img,
x:-moz-any-link,
x:default {
    box-shadow: #000 0 0 0;
}